img{
    display:block;
margin-left:auto;
margin-right:auto;
}

.SaaS{
    margin:10px;
    font-family: Arial, Helvetica, sans-serif;
}

.mainheading{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #6495ED  ;
}

h2{
    text-align: center;
}

.PaaS{
    margin:10px;
    font-family: Arial, Helvetica, sans-serif;
}

.IaaS{
    margin:10px;
    font-family: Arial, Helvetica, sans-serif;
}

.CaaS{
    margin:10px;
    font-family: Arial, Helvetica, sans-serif;
}