img{
    display:block;
margin-left:auto;
margin-right:auto;
}

.SaaS{
    margin:10px;
    font-family: Arial, Helvetica, sans-serif;
}

.mainheading{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h2{
    text-align: center;
}

.PaaS{
    margin:10px;
    font-family: Arial, Helvetica, sans-serif;
}

.IaaS{
    margin:10px;
    font-family: Arial, Helvetica, sans-serif;
}

.CaaS{
    margin:10px;
    font-family: Arial, Helvetica, sans-serif;
}

.Redirect{
     text-align:center;
    font-family: Arial, Helvetica, sans-serif;
}

body {
     background-color:#99ffe6;
    }

/* Css for the home and shop buttons on the bottom of cloud services page */
a.shop:link, a.shop:visited {
    background-color: green;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.shop:hover, a.shop:active {
    background-color: green;
}
a.home:link, a.home:visited {
    background-color: red;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.home:hover, a.home:active {
    background-color: red;
}